  <div class="title">
    <%= image_tag "icons/topic_black.png", size: '25x27', class: 'icon' %>
    <span class="topic-title-<%= @topic.id %>">
      <%= @topic.title %>
    </span>
    <% if false %>
      <button id="topic-delete-btn" class="btn btn-danger pull-right" type="button" data-id="<%= @topic.id %>">
        <i class="icon-trash"></i>
        Delete
      </button>
      <button id="topic-edit-btn" class="btn pull-right" type="button">
        <i class="icon-cog"></i>
        Settings
      </button>
    <% end %>
  </div>

  <ul id="comments">
    <%= render @topic.comments %>
  </ul>
  <%= form_for [@group, @topic, @topic.comments.new], id: 'comment-new-form', remote: true do |f| %>
    <div class="form-fields">
      <%= f.text_area :content, id: "comment-content", class: "js-editor" %>
    </div>
    <div class="form-actions">
      <a class="md-supported" data-toggle="modal" href="#markdown-cheatsheet">
        <i class="icon-info-sign"></i>
        <%= t('markdown.supported') %>
      </a>
      <div class="ctrl-enter">
        <kbd>Enter</kbd>
      </div>

      <button id="comment-content-submit" class="btn btn-primary" type="submit">
        Send
      </button>
    </div>
  <% end %>