  <div class="title">
    <%= image_tag "icons/topic_black.png", size: '25x27', class: 'icon' %>
    <span class="topic-title-<%= @topic.id %>">
      <%= @topic.title %>
    </span>
    <% if @topic.owner_id == current_user.id %>
      <button id="topic-delete-btn" class="btn btn-danger pull-right" type="button" data-id="<%= @topic.id %>">
        <i class="icon-trash"></i>
        Close
      </button>
      <button id="topic-edit-btn" class="btn pull-right" type="button">
        <i class="icon-cog"></i>
        Settings
      </button>
    <% end %>
  </div>

  <ul id="comments">
    <%= render @topic.comments %>
  </ul>
<%= form_for [@group, @topic, @topic.comments.new], remote: true, html: {id: 'comment-new-form'} do |f| %>
    <div class="form-fields">
      <%= f.text_area :content, id: "comment-content", class: "js-editor" %>
    </div>
    <div class="form-actions">
      <a class="md-supported" data-toggle="modal" href="#markdown-cheatsheet">
        <i class="icon-info-sign"></i>
        <%= t('markdown.supported') %>
      </a>

      <div class="ctrl-enter">
        <kbd>Enter</kbd>
      </div>

      <button id="comment-content-submit" class="btn btn-primary" type="submit">
        Send
      </button>
    </div>
  <% end %>
<% content_for :footer do %>
  <%= render 'form', topic: @topic %>

  <%= render 'markdown' %>
  <script type="text/javascript">
  $('#comments').scrollTo('100%');
  $('#comment-content').focus();
  $('#comments').timeago();
  window.pullComments = Puller("<%= url_for([@group, @topic, :comments])%>");
  $('#topic-edit-btn').click(function(){
    $('#topic-edit-modal').modal('show')
  });
  (function(){
    var timer = setInterval(window.pullComments, 5000)
    $(document).bind('page:before-change', function(){
      clearInterval(timer);
    })
  })();
        $('.js-editor').markDownEditor()
        $('.js-editor').autosize()
  </script>
<% end %>

