<tr data-index= <%= group.name %>>
  <td>
    <img class="img-rounded group-logo-64-<%= group.id %>" src="<%= group.icon.thumb %>" width="20" height="20" />
    <%= link_to group.name, group %>
  </td>
  <td>
    <span>
      <img class="img-circle" src="http://www.gravatar.com/avatar/dacaed17fc057f67d857ca65ec52ba8f.jpg?s=20">
      <%= group.owner.name rescue nil %>
    </span>
  </td>
<% if @category.nil? %>
	<td><%= group.category.name %></td>
<% end %>
  <td><%= group.topics.count %></td>
  <td><%= group.member_count %></td>
  <td><%= group.updated_at %></td>
</tr>
